/* -------------------------------------------------------------------------- */
/* FOOTER */
/* -------------------------------------------------------------------------- */

/* FOOTER 1 */
.footer1 {
  background: url('../img/footer-bg@2x.jpg') center / cover;
  padding: 40px 20px;

  .containerish {
    .section-info {
      text-align: center;

      .footer-logo {
        width: 257.81px;
        height: 99.83;
      }
    }

    .section-map {
      position: relative;
      margin-bottom: 2rem;

      .blue-box {
        display: none;
        position: absolute;
        height: 220px;
        width: 220px;
      }
    }

    .section-newsletter {
      text-align: center;

      form {
        margin-top: 1rem;
        display: grid;
        row-gap: .5rem;

        .form-control {
          border-radius: 0;
        }
      }
    }

    .footer-nav {
      margin-top: 2rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .footer-nav-link {
        font-family: $font-primary;
        size: 13px;
        font-weight: 500;
        color: $color-white;
        margin-bottom: 1rem;

        &:hover {
          color: $color-light-accent;
          text-decoration: none;
        }
      }

      .footer-nav-link:last-child {
        margin-bottom: 0;
      }
    }
  }
}

/* FOOTER 2 */
.footer2 {
  background-color: $color-white;
  width: 100%;
  // padding: 0.6rem 30px;
  height: 50px;
  display: flex;
  align-items: center;

  .footer-2-copy {
    font-family: $font-primary;
    font-size: 14px;
    font-weight: 300;
    color: $color-dark;
    padding: 0;
    margin: 0;
  }

  .footer-2-link {
    @extend .footer-2-copy;

    &:hover {
      color: $color-main;
      text-decoration: none;
    }
  }

  .containerish {
    display: grid;
    grid-template-rows: 1;
    align-items: center;
    max-width: 100%;
  }
}