/* -------------------------------------------------------------------------- */
/* RESPONSIVE MEDIA QUERIES */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* SMALL BREAKPOINT (Landscape Phones and Up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 576px) {
  .ui-btn {
    display: inline-flex;
    width: auto;
    padding: 1.3rem 2rem;
  }
}

/* -------------------------------------------------------------------------- */
/* MEDIUM BREAKPOINT (Tablets 768px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 768px) {
  .ui-btn {
    display: inline-flex;
    width: auto;
  }

  /* HERO SECTION WITH HEADER */
  .hero {
    padding: 30px 20px;
    position: relative;
    min-height: 700px;

    .header {
      .containerish {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: flex-start;

        .col-left {
          display: flex;

          .social-link {
            color: $color-main;
            margin-right: 1rem;
          }
        }
      }
    }

    /* HERO CTA */
    .hero-cta {
      position: absolute;
      bottom: 3rem;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 1rem;
      padding: 40px 20px 20px 20px;
      max-height: 570px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }
  }

  /* TEMPSURE & EVENT ******************************************************* */
  .tempsure-event {
    // padding: 40px 20px;

    .event-wrapper {
      position: relative;
      display: grid;
      grid-template-columns: 1.5fr 1fr;

      .event-left {
        padding: 2rem 1rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .event-right {
        height: 250px;
      }
    }

    .tempsure {
      margin-top: 2rem;

      .containerish {
        display: grid;
        grid-template-columns: 75%;
        justify-content: center;
        background: $color-white;
        row-gap: 1rem;

        .section-info {
          padding: 20px;
        }
      }
    }
  }


  /* APPOINTMENTS */
  .appointments {
    padding: 0 20px 4rem 20px;
  }
}

/* -------------------------------------------------------------------------- */
/* LARGE BREAKPOINT (Desktops 992px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 992px) {

  .ui-btn {
    display: inline-flex;
    width: auto;
    max-width: 220px;
  }

  .containerish {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  /* TOPBAR ***************************************************************** */
  .topbar {
    padding: .2rem 1rem;

    .containerish {
      grid-template-columns: max-content 1fr max-content;
      align-items: center;


      .col-mid {
        display: flex;
        justify-content: center;

        p {
          margin: 0;
          text-align: center;
        }
      }

    }
  }

  /* TEMPSURE & EVENT ******************************************************* */
  .tempsure-event {
    padding-bottom: 4rem;

    .event-wrapper {
      position: relative;
      display: grid;
      grid-template-columns: 1.5fr 1fr;

      .event-left {
        padding: 2rem 4rem;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }
    }

    .tempsure {
      margin-top: 4rem;

      .containerish {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        background: $color-white;
        row-gap: 0;
        column-gap: 2rem;
        box-shadow: 0 0 6px rgba($color-black, .05);

        .section-info {
          padding: 20px;
        }
      }
    }
  }

  /* SCULPSURE ************************************************************** */
  .sculpsure {
    position: relative;

    .sculpsure-img {
      height: 400px;
    }

    .sculpsure-content {
      margin-top: -50px;

      .containerish {
        background: $color-white;
        padding: 1rem;

        .header-accent {
          align-self: center;
        }

        .section-info {
          position: relative;
          padding-top: 3rem;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: stretch;


          .section-header-sun {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 160px;
            width: 160;
          }

          p {
            max-width: 900px;
            align-self: center;
          }
        }
      }
    }
  }

  /* REQUEST APPOINTMENT */
  .appointments {
    padding: 0 20px 4rem 20px;

    .appointment-wrapper {
      padding: 1rem 8%;
      max-width: 1200px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 2rem;
      grid-row-gap: 1rem;

      .form-copy {
        grid-row: 1;
        grid-column: 1 / -1;
        justify-self: center;
        text-align: center;
      }

      .form-control {
        border-radius: 0;
      }

      input:not(:last-child) {
        margin-bottom: 0.5rem;
      }

      button {
        grid-row: 5;
        grid-column: 1 / -1 !important;
        justify-self: center;
      }
    }
  }


}

/* -------------------------------------------------------------------------- */
/* EXTRA LARGE BREAKPOINT (Large Desktops 1200px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1200px) {

  /* HERO ******************************************************************* */
  .hero {
    padding: 30px 20px;

    /* HERO CTA */
    .hero-cta {
      bottom: 6rem;
    }
  }

  /* SCULPSURE ************************************************************** */
  .sculpsure {
    position: relative;

    .sculpsure-img {
      height: 600px;
    }

    .sculpsure-content {
      margin-top: -100px;

      .containerish {
        background: $color-white;
        padding: 3rem;

        .header-accent {
          align-self: center;
        }

        .section-info {
          position: relative;
          padding-top: 3rem;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: stretch;


          .section-header-sun {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 160px;
            width: 160;
          }

          p {
            max-width: 900px;
            align-self: center;
          }
        }
      }
    }
  }

}

/* -------------------------------------------------------------------------- */
/* EXTRA LARGE BREAKPOINT (Large Desktops 1400px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1400px) {

  /* TOPBAR ***************************************************************** */
  .topbar {
    padding: .2rem 1rem;

    .containerish {
      grid-template-columns: 1fr max-content 1fr;
      align-items: center;


      .col-mid {
        display: flex;
        justify-content: center;

        p {
          margin: 0;
          text-align: center;
        }
      }

      .col-right {
        display: flex;
        justify-content: flex-end;
      }

    }
  }

  /* HERO ******************************************************************* */
  .hero {
    padding: 30px 20px;
    min-height: 800px;

    /* HERO CTA */
    .hero-cta {
      bottom: 12rem;
    }
  }

  /* TEMPSURE & EVENT ******************************************************* */
  .tempsure-event {
    padding-bottom: 10rem;

    .event-wrapper {
      position: absolute;
      top: -8rem;
      right: 0;
      display: grid;
      grid-template-columns: 2fr 1fr;
      max-width: 783px;

      .event-left {
        padding: 2rem 4rem;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }
    }

    .tempsure {
      margin-top: 0;
      padding-top: 16rem;

      .containerish {
        display: grid;
        grid-template-columns: 1fr 1fr;
        // justify-content: center;
        // align-items: center;
        background: $color-white;
        row-gap: 0;
        column-gap: 2rem;
        height: 600px;

        .section-img {
          margin-top: -75px;
          margin-left: -25px;
        }

        .section-info {
          padding: 20px;
        }
      }
    }
  }

  /* SCULPSURE ************************************************************** */
  .sculpsure {
    position: relative;

    .sculpsure-img {
      height: 700px;
    }

    .sculpsure-content {
      margin-top: 0;
      position: absolute;
      bottom: -16rem;
      left: 50%;
      transform: translateX(-50%);
      width: 1200px;

      .containerish {
        background: $color-white;
        padding: 3rem;

        .header-accent {
          align-self: center;
        }

        .section-info {
          position: relative;
          padding-top: 2.5rem;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: stretch;


          .section-header-sun {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 160px;
            width: 160;
          }

          p {
            max-width: 900px;
            align-self: center;
          }
        }
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/* SUPER LARGE BREAKPOINT (IMAC STATUS 1900px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1900px) {}