body {
  position: relative;
}

.scroll-top {
  width: 64px;
  height: 41px;
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 9999999;
  opacity: 0;
  transition: all .2s ease-in-out;
  display: none;

  &.show {
    display: block;
    opacity: 1;
    transition: all .2s ease-in-out;
  }
}